body {
    background-image: url("aesthetic.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.gettingStartedContainer {
    
}
.button1 {
    display: flex;
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
    
}